/*
general settings
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  height: 100%;
}

body {
  margin: 20px;
  height: 100%;
}

/*
indiviual styles
*/
#wordsection {
  display: inline;
}
.inline {
  display: inline;
}
.characterbox {
  display: inline;
  width: 20px;
  border-bottom: 2px solid black;
  display: inline;
  margin: 5px;
}
.hidden {
  opacity: 0%;
}
p {
  margin-top: 30px;
  padding-top: 20px;
  width: 20px;
  display: inline;
}
